
<div class="login-bg">

  <div class="Logo">
    <%= image_tag "sicpic.png", size: "200x172", class: "center-block"%>
  </div>
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="Login">
    <div class="text">
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: 'text btn btn-primary btn-block'%>
    </div>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
